<p><strong>Departure date:</strong> <%= flight.departure_date %></p>
<p><strong>Departing from:</strong> <%= flight.departure_airport.code %></p>
<p><strong>Arriving at:</strong> <%= flight.arrival_airport.code %></p>
<p><strong>Flight #<%= flight.id %></strong></p>
