<div class="section">
  <div class="row">
    <%= render "flights/search_form" %>
  </div>
</div>
<div class="divider"></div>
<% if @flights %>
  <div class="section">
    <div class="row">
      <div class="col">
        <% if @flights.empty? %>
          <p>No flights match your search criteria<p>
        <% else %>
          <p>We've found some matches</p>
          <%= render "flights/flights_found" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
