<div class="section">
  <div class="row">
    <%= render "flights/search_form" %>
  </div>
</div>
<div class="divider"></div>
<% unless @flights.empty? %>
  <div class="section">
    <div class="row">
      <div class="col">
        <p>We've found some matches</p>
        <%= render "flights/flights_found" %>
      </div>
    </div>
  </div>
<% end %>
