<footer class="page-footer deep-orange">
  <div class="valign-wrapper">
    <div class="row">
      <div class="col">
          <%= link_to 'https://www.github.com/aaron-contreras/', class: 'white-text' do %>
            <i class="fab fa-github-square small"></i>
            Created by Aaron Contreras
          <% end %>
      </div>
    </div>
  </div>
</footer>
