<header>
  <div class="section blue-grey">
    <div class="container">
      <%=link_to root_url, class: 'white-text' do %>
        <h2 class="center-align"><i class="material-icons medium">airplanemode_active</i>Odin Flight Booker</h2>
      <% end %>
    </div>
  </div>
  <div class="divider"></div>
</header>
