<header>
  <div class="section light-blue">
      <%=link_to root_url, class: 'white-text' do %>
        <h2 class="center-align valign-wrapper logo"><i class="material-icons medium">airplanemode_active</i>ODIN FLIGHT BOOKER<i class="material-icons medium">airplanemode_active</i></h2>
      <% end %>
  </div>
</header>
